doctype html
html(lang="en")
	head
		title= title
		script(src='/libs/leaflet/leaflet.js')
		script(src='/javascript/worker.js')
	body
		h1 Title Goes Here
		#container.col
			ul 
				li worker
				li master
			div#map
