doctype html
html(lang="en")
	include masterHead
	body
		h1 Title Goes Here
		
		div#listOfWorkers List of Available workers
			ul(data-bind="foreach: workers").list-group
				li(data-bind="text: address").list-group-item