doctype html
html(lang="en")
	include masterHead
	body
		h1 Title Goes Here
		#container.col
			button.sendMessage(onclick='sendMessage()') Click me to Send a message

		div#listOfWorkers
			if workers
				ul
					-each worker in workers.length ? workers : ["No workers"]
						li worker

			if connections
				ul
					-each ip in connections
						li ip
