<script src="/socket.io/socket.io.js"></script>
<script src="/libs/jquery.js"></script>
<script src="/libs/knockout.js"></script>
<script src="/javascript/master.js"></script>
<script src="/javascript/mapController.js"></script>
<script type="text/javascript" src='/libs/leaflet.js'></script>
<script src="http://leaflet.github.io/Leaflet.draw/leaflet.draw.js"></script>
<link rel="stylesheet" type="text/css" href="/css/style.css"></link>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"></link>
<link rel="stylesheet" type="text/css" href="/css/leaflet.css"></link>
<link rel="stylesheet" href="http://leaflet.github.io/Leaflet.draw/leaflet.draw.css"></link>

<div class="row">
	<div class="container-fluid masterContainer">
		<form role="form" data-toggle="validator" class="masterForm" id="masterForm">
		  <div class="form-group">
		    <label for="url">WMS URL</label>
		    <input type="url" data-bind="value: wmsURL" placeholder="ex: http://ows.terrestris.de/osm/service" class="form-control" id="url" required>
		  </div>
		  <div class="form-group">
		    <label for="bbox">Bounding box:</label>
		    <input type="text" data-bind="value: boundingBox" placeholder="38.65, -76.67" class="form-control" id="bbox">
		    <span class="icon-globe icon-white" data-bind="click: toggleMap"></span>
		    <div class="center" id="map" data-bind="visible: mapVisibile"></div>
		  </div>
		  <button id="start" class="btn btn-primary">Start Tests</button>
		</form>
		<div id="testingMessage" class="testing hidden">
			<h1>Test in Progress</h1>
			<button id="stop" class="btn btn-primary">Stop Tests</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="row">
		<div class="container-fluid tableContainer">
			<div class="tableDiv" data-bind="template: {name: 'ip-table-template'}, visible: tableVisible"></div>
		</div>
	</div>
</div>

<script type="text/html" id="ip-table-template">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Connected IP</th>
			</tr>
		</thead>
		<tbody data-bind="foreach: {data: ipList}">
			<tr>
				<td>
					<span data-bind="text: $index"></span>
				</td>
				<td>
					<span data-bind="text: $data.address"></span>
				</td>
			</tr>
		</tbody>
	</table>
</script>