<script src="/socket.io/socket.io.js"></script>
<script src="/libs/jquery.js"></script>
<script src="/javascript/master.js"></script>
<link rel="stylesheet" type="text/css" href="/css/style.css"></link>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"></link>

<div class="container-fluid masterContainer">
	<form role="form" data-toggle="validator" class="masterForm">
	  <div class="form-group">
	    <label for="url">WMS URL</label>
	    <input type="url" class="form-control" id="url" required>
	  </div>
	  <div class="form-group">
	    <label for="bbox">Bounding box:</label>
	    <input type="password" class="form-control" id="bbox">
	  </div>
	  
	  <button id="button" class="btn btn-primary">Start Tests</button>
	</form>

	<div class="tableDiv">
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>#</th>
					<th>IP</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>127.0.0.1</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>127.0.0.1</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>127.0.0.1</td>
				</tr>
				<tr>
					<th scope="row">4</th>
					<td>127.0.0.1</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>