#map {
	width: 900px;
	height: 700px;
}

.waiting, .testing {
    background-color: #1C2126;
    border-radius: .25rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    margin-bottom: 3rem;
    text-align: center;
}

.testing, .testingMessage {
	display: none;
}

.testing, .waiting > h1 {
	color: white;
}

.loading{
	height: 100px;
}

.center {
    margin: auto;
    width: 50%;
}

.masterForm {
    border-radius: .25rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    margin-bottom: 3rem;
    text-align: center;
}

.masterContainer {
    background-color: #1C2126;
    color: white;
    display: block;
}

.tableContainer {
    display: block;
}
